.rangepicker-tip .tip-inner {
  background-color: transparent;
  color: inherit;
}

.rangepicker-tip .rangepicker-content {
  background-color: #FFF;
}

.rangepicker-tip .tip-arrow {
  right: 10px;
}

.rangepicker-calendar {
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
}

.rangepicker-content {
  border: 2px solid #1c1c1c;
  overflow: hidden;
}

.rangepicker-content > div {
  float: left;
}

.rangepicker-content .rangepicker-actions {
  border-left: 1px solid #eee;
  background: #fafafa;
  box-shadow: inset 0 1px 0 white;
  position: relative;
  width: 75px;
}

.rangepicker-content .rangepicker-actions .middle{
  position: absolute;
  padding: 0 10px;
  padding: 0 10px;
  top: 50%;
  margin-top: -50%;
}

.rangepicker-content .rangepicker-actions button {
  display: block;
  margin: 10px 0;
}
